@model Fixxo.MVC.ViewModels.HomeIndexViewModel


@* Försöker separera ansvar och dry genom att ha olika partials istället för en enda stor view, då kan jag dessutom återanvända de. Återanvända = dry och index view till index view = SRP
   partials återanvänds, men index är bara index
*@

<div class="background-lightgrey">
    <partial name="_NavbarPartial" />
    <partial name="_HeaderPartial" />
</div>

<div class="index-grid">


    @* <div class="white-space-div"></div> *@

    @* <div class="center-grid"> *@
    @*     <partial name="ProductPartials/_8ProductsOutputDtoPartial" model="Model" /> *@
    @* </div> *@

    <div class="index-item1">
        <partial name="ProductPartials/_8ProductsPartial" model="Model" />
    </div>

    @* <div class="white-space-div"></div> *@

    <div class="index-item2">
        <partial class="index-item2" name="ProductPartials/_4ProductsPartial" model="Model" />
    </div>


    <div class="index-item3 center-grid">
        <h3>Customer Support</h3>
        <p>Our customer support</p>
    </div>
    <div class="index-item4 center-grid">
        <h3>Secured Payment</h3>
        <p>Our customer support</p>
    </div>
    <div class="index-item5 center-grid">
        <h3>Free Home Delivery</h3>
        <p>Our customer support</p>
    </div>
    <div class="index-item6 center-grid">
        <h3>30 Day Returns</h3>
        <p>Our customer support</p>
    </div>

</div>

<partial name="_FooterPartial" />

