<header class="header-section">
    <div class="header-img-container">
        <div>
            <img src="/images/header-female.svg" alt="">
        </div>
        <div class="sale-div">
            <h1>SALE UP </h1>
            <h1>TO 50% OFF</h1>
            <p>Online shopping free home delivery over $100</p>
            <div class="red-box background-lightred">
                <div class="corner-container">
                    <div class="white-corner-div">
                        <div class="cover-div-1"></div>
                        <div class="cover-div-2"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="pt-3"><strong>SHOP NOW</strong></p>
                </div>
                <div class="corner-container">
                    <div class="white-corner-reverse-div">
                        <div class="cover-reverse-div-1"></div>
                        <div class="cover-reverse-div-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="/images/header-male.svg" alt="">
        </div>
    </div>
</header>