

<navbar class="nav-bar">
    <div>
        <img src="/images/logo.svg" asp-append-version="true" alt="logo">
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a href="">Categories</a>
        <a asp-controller="CreateProduct" asp-action="Create">Create a product</a>
        <a asp-controller="Contacts" asp-action="Index">Contacts</a>

    </div>
    <div class="nav-icons-div">
        <div class="icon-circle">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="icon-circle">
            <i class="fa-solid fa-arrows-spin"></i>
        </div>
        <div class="icon-circle">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="icon-circle">
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>
</navbar>

<script src="https://kit.fontawesome.com/470a8b5ff5.js" crossorigin="anonymous"></script>
