@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Fixxo.MVC.Models.OutputDto.ShoesDto.GetShoesOutputDto


<partial name="_NavbarPartial"/>
<div>
    <partial name="ProductDetailsPartials/_ShoesPartial" model="@Model"/>
</div>
<div>
    <partial name="_FooterPartial" />
</div>
