@model Fixxo.MVC.ViewModels.HomeIndexViewModel

<div class="four-products-h-grid">    
    <div class="grey-box-50 me-2 grid-item-1">

    </div>
    <section class="featured-product ms-2 grid-item-2">
        <div class="featured-grid featured-grid-4">

            @{
                if (Model != null)
                {
                    if (Model.ProductsOutputDto.Count < 5)
                    {
                        foreach (var product in Model.ProductsOutputDto)
                        {
                            <partial name="ProductPartials/_ProductPartial" model="product"/>
                        }
                    }
                    else
                    {
                        for (var i = 0; i < 4; i++)
                        {
                            <partial name="ProductPartials/_ProductPartial"  model="Model.ProductsOutputDto[i]"/>
                        }
                    }
                }
            }

        </div>
    </section>
</div>