@model Fixxo.MVC.ViewModels.HomeIndexViewModel

<section class="featured-product">
    <div class="center-grid">
        <h2 class="pb-3">Featured Products</h2>
    </div>
    <div class="featured-grid">
        
        

        @{
            if (Model != null)
            {
                if (Model.Jackets.Count + Model.Shoes.Count + Model.Boots.Count + Model.HighHeels.Count < 9)
                {

                    foreach (var jacket in Model.Jackets)
                    {
                        <partial name="ProductPartials/_JacketPartial" model="jacket" />
                    }

                    foreach (var shoes in Model.Shoes)
                    {
                        <partial name="ProductPartials/_ShoesPartial" model="shoes"/>
                    }


                    foreach (var boots in Model.Boots)
                    {
                        <partial name="ProductPartials/_BootsPartial" model="boots"/>
                    }

                    foreach (var highHeels in Model.HighHeels)
                    {
                        <partial name="ProductPartials/_HighHeelsPartial" model="highHeels" />
                    }
                }
                else
                {
                    for (var i = 0; i < 8; i++)
                    {
                        if (Model != null)
                        {
                            foreach (var jacket in Model.Jackets)
                            {
                                if (i >= 8)
                                    break;
                                <partial name="ProductPartials/_JacketPartial" model="jacket"/>
                                i++;
                            }

                            foreach (var shoes in Model.Shoes)
                            {
                                if (i >= 8)
                                    break;
                                <partial name="ProductPartials/_ShoesPartial" model="shoes" />
                                i++;
                            }


                            foreach (var boots in Model.Boots)
                            {
                                if (i >= 8)
                                    break;
                                <partial name="ProductPartials/_BootsPartial" model="boots" />
                                i++;
                            }

                            foreach (var highHeels in Model.HighHeels)
                            {
                                if (i >= 8)
                                    break;
                                <partial name="ProductPartials/_HighHeelsPartial" model="highHeels" />
                                i++;
                            }
                        }
                    }
                }
            }
        }

    </div>
</section>