@model Fixxo.MVC.ViewModels.HomeIndexViewModel

<section class="featured-product">
    <div class="featured-grid">

       @{
           if (Model != null)
           {
               @* if (Model.Shoes.Count + Model.Jackets.Count < 9) *@
               @* { *@
               @*     @foreach (var product in Model.Jackets) *@
               @*     { *@
               @*          *@
               @*         <partial name="ProductPartials/_JacketPartial" model="product"/> *@
               @*     } *@
               @*     @foreach (var product in Model.Shoes) *@
               @*     { *@
               @*          *@
               @*         <partial name="ProductPartials/_ShoesPartial" model="product"/> *@
               @*     } *@
               @* *@
               @* } *@

               if (Model.Products.Count < 9)
               {
                   foreach (var product in Model.Products)
                   {
                       if (Model != null)
                       {
                            <partial name="ProductPartials/_ProductPartial" model="product" />
                        }
                    }
                }
                else
                {
                    for (var i = 0; i < 8; i++)
                    {
                        if (Model != null)
                        {
                            <partial name="ProductPartials/_ProductPartial"  model="Model.Products[i]"/>
                        }
                    }
               }
           }
       }

    </div>
</section>