@model Fixxo.MVC.ViewModels.HomeIndexViewModel

<section class="featured-product">
    <div class="center-grid">
        <h2 class="pb-3">Featured ProductInCatalogs</h2>
    </div>
    <div class="featured-grid">

        @{
            if (Model != null)
            {
                if (Model.ProductsOutputDto.Count < 9)
                {
                    foreach (var product in Model.ProductsOutputDto)
                    {
                        if (Model != null)
                        {
                            <partial name="ProductPartials/_ProductPartial" model="product"/>
                        }
                    }
                }
                else
                {
                    for (var i = 0; i < 8; i++)
                    {
                        if (Model != null)
                        {
                            <partial name="ProductPartials/_ProductPartial" model="Model.ProductsOutputDto[i]"/>
                        }
                    }
                }
            }
        }

    </div>
</section>