@model List<Fixxo.MVC.Models.OutputDto.GetProductOutputDto>

<section class="featured-product">
    <div class="featured-grid">

       @{
           if (Model.Count < 9)
           {
               @foreach (var product in Model)
               {
                   <partial name="ProductPartials/_ProductPartial" model="product"/>
               }
           }
           else
           {
               for (var i = 0; i < 8; i++)
               {
                    <partial name="ProductPartials/_ProductPartial"  model="Model[i]"/>
               }
           }
       }

    </div>
</section>