@using Fixxo.Core.Models
@using Fixxo.MVC.Models.OutputDto
@model Fixxo.MVC.ViewModels.HomeIndexViewModel

<section class="featured-product">
    <div class="center-grid">
        <h2 class="pb-3">Featured Products</h2>
    </div>
    <div class="featured-grid">
        
        

        @{
            if (Model != null)
            {
                if (Model.Jackets.Count + Model.Shoes.Count + Model.Boots.Count + Model.HighHeels.Count < 9)
                {
                    foreach (var product in Model.GetDtos)
                    {
                        if (Model != null)
                        {
                            @* if(Model is Jacket) *@
                            @*     <partial name="_JacketPartial" model="product"/> *@
                            @* *@
                            @* if(Model is Shoes) *@
                            @*     <partial name="_ShoesPartial" model="product"/> *@
                            @* *@
                            @* if(Model is Boots) *@
                            @*     <partial name="_BootsPartial" model="product"/> *@
                            @* *@
                            @* if(Model is HighHeels) *@
                            @*     <partial name="_HighHeelsPartial" model="product"/> *@

                            @* <partial name="ProductPartials/_ProductPartial" model="product"/> *@
                        }
                    }

                    foreach (var jacket in Model.Jackets)
                    {
                        <partial name="ProductPartials/_JacketPartial" model="jacket" />
                    }

                    foreach (var shoes in Model.Shoes)
                    {
                        <partial name="ProductPartials/_ShoesPartial" model="shoes"/>
                    }


                    foreach (var boots in Model.Boots)
                    {
                        <partial name="ProductPartials/_BootsPartial" model="boots"/>
                    }

                    foreach (var highHeels in Model.HighHeels)
                    {
                        <partial name="ProductPartials/_HighHeelsPartial" model="highHeels" />
                    }
                }
                else
                {
                    for (var i = 0; i < 8; i++)
                    {
                        if (Model != null)
                        {
                            @* if(Model is Jacket) *@
                            @*     <partial name="_JacketPartial" model="Model.GetDtos[i]"/> *@
                            @* *@
                            @* if(Model is Shoes) *@
                            @*     <partial name="_ShoesPartial" model="Model.GetDtos[i]"/> *@
                            @* *@
                            @* if(Model is Boots) *@
                            @*     <partial name="_BootsPartial" model="Model.GetDtos[i]"/> *@
                            @* *@
                            @* if(Model is HighHeels) *@
                            @*     <partial name="_HighHeelsPartial" model="Model.GetDtos[i]" /> *@


                            @* <partial name="ProductPartials/_ProductPartial" model="Model.GetDtos[i]"/> *@

                            foreach (var jacket in Model.Jackets)
                            {
                                                        <partial name="ProductPartials/_JacketPartial" model="jacket"/>
                            }

                            foreach (var shoes in Model.Shoes)
                            {
                                <partial name="ProductPartials/_ShoesPartial" model="shoes" />
                            }


                            foreach (var boots in Model.Boots)
                            {
                                <partial name="ProductPartials/_BootsPartial" model="boots" />
                            }

                            foreach (var highHeels in Model.HighHeels)
                            {
                                <partial name="ProductPartials/_HighHeelsPartial" model="highHeels" />
                            }
                        }
                    }
                }
            }
        }

    </div>
</section>